<%= form_for(@service) do |f| %>
  <% if @serice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serice.errors.count, "error") %> prohibited this serice from being saved:</h2>

      <ul>
      <% @serice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <%= f.select_date Date.today, prefix: :start_date %>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_area :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
