<div class = "table">
  <fieldset>
    <div class="row">
      <div class="col"><label>Service</label></div>
      <div class="col"><label>Price</label></div>
      <div class="col"><label>Start date</label></div>
      <div class="col"><label>End date</label></div>
      <div class="col remove"><label>Remove</label></div>
    </div><!--/row-->
    <%= f.fields_for :services do |builder| %>
      <div class="row">
        <div class="col"><%= builder.text_field :name %></div>
        <div class="col"><%= builder.text_field :price %></div>
        <div class="col"><%= builder.date_field :start_date %></div>
        <div class="col"><%= builder.date_field :end_date %></div>
        <div class="col remove small-in-table"><%= builder.check_box :_destroy %></div>
      </div><!--/row-->
    <% end %>
  </fieldset>
</div><!--/div-table-->