<div class = "table">
  <fieldset>
    <div class="row">
      <div class="col"><%= f.text_field :name %></div>
      <div class="col"><%= f.text_field :price %></div>
      <div class="col"><%= f.date_field :start_date %></div>
      <div class="col"><%= f.date_field :end_date %></div>
      <div class="col remove">
        <%= f.hidden_field :_destroy %>
        <%= link_to "", '#', class: "remove_fields fa fa-trash-o small-in-table", style: "color: #1b967e;" %>
      </div>
    </div><!--/row-->
  </fieldset>
</div><!--/div-table-->