<h1>
  <%= @project.title %>
</h1>
<div id = "right-panel">
  <%= render 'layouts/budget' %>
  <br>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Start date</td>
        <td>End date</td>
      </tr>
    </thead>
    <tbody>
      <% @project.services.each do |service| %>
        <tr>
          <td><%= service.name %></td>
          <td><%= service.price %></td>
          <td>
            <% if !service.start_date.nil? %>
              <%= service.start_date.strftime("%d %B %Y") %>
              <% @have_start_date = true %>
            <% end %>
          </td>
          <td>
            <% if !service.end_date.nil? %>
              <%= service.end_date.strftime("%d %B %Y") %>
              <% @have_end_date = true %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Итого: </td>
        <td><%= @project.services.sum("services.price") %></td>
        <td>
          <% if @have_start_date %>
            <%= @project.services.minimum("services.start_date").strftime("%d %B %Y") %>
          <% end %>
        </td>
        <td>
          <% if @have_end_date %>
            <%= @project.services.maximum("services.end_date").strftime("%d %B %Y") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="main-part">
<div class="pseudo">
  <% if (!@project.image_url.nil? && @project.image_url != '' )  %>
    <br>
    <p>
      <%= image_tag(@project.image_url, class: 'list_image') %>
    </p>
  <% else %>
    
  <% end %>

  <p><%= @project.description %></p>
  <br>
  
  <p>
  <% if (!@project.site.nil? && @project.site != '' )  %>
    <%= link_to("http://www."+@project.site) do %>
      <%= @project.site %>
    <% end %>
  <% end %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> 
  <%= link_to 'Back', projects_path %>

</div>
</div>
