<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Site</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.description %></td>
        <td><%= link.site %></td>

        <td><%= link_to '', edit_link_path(link), :class => "fa fa-pencil ", 
          :style => "color: #196e76;" %></td>
        <td><%= link_to '', link, method: :delete, data: { confirm: 'Are you sure?' }, :class => " fa fa-trash-o", 
          :style => "color: #196e76;" %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>
