<!DOCTYPE html>
<html>
<head>
  <title>DensPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<ul class="cbp-vimenu">
  <li><%= link_to "Home", root_path, class: "icon-logo" %></li>
  <li><%= link_to "Projects", projects_path, class: "icon-projects" %></li>
  <li><%= link_to "Links", links_path, class: "icon-links" %></li>
  <!-- Example for active item:
  <li class="cbp-vicurrent"><a href="#" class="icon-pencil">Pencil</a></li>
  -->
</ul>
<body class="<%= controller.controller_name %>">
  <%= render 'layouts/header' %>
  <section id = "grid-main">
    <div id="grid-wrap-menu" class="grid-wrap clearfix">
      <div class="pseudo">
        <div class = "pseudo2 clearfix">
        <%= yield %>
        </div><!--/pseudo2-->
      </div><!--/pseudo-->
    </div><!--/grid-main-->
  </section><!--/grid-wrap-->
  <%= render 'layouts/footer' %>
</body>
</html>
